@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Outfit";
  background-color: #1a2a33;
}

.container {
  max-width: 460px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

#hero {
  padding-top: 215px;
}

#my_github {
}

#social {
  color: white;
  opacity: 80%;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

#tic_tac_toe_parent_imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 40px;
}

#selectable_buttons_and_title {
  width: 100%;
  background-color: #1f3641;
  border-radius: 15px;
  padding-top: 24px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  color: #a8bfc9;
}

.buttons_active {
  background-color: #a8bfc9 !important;
}

.x_o_buttons {
  background-color: #1a2a33;
  width: 412px;
  border-radius: 10px;
  padding: 9px 8px;
  display: flex;
  gap: 4px;
  align-items: center;
}

#o_button {
  width: 198px;
  background-color: transparent;
  height: 54px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: 0.3s background;
  &:hover {
    background-color: rgba(168, 191, 252, 0.05);
  }
}

#x_button {
  background-color: transparent;
  border: 0;
  width: 198px;
  height: 54px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s background;
  &:hover {
    background-color: rgba(168, 191, 252, 0.05);
  }
}

#remember_text {
  opacity: 50%;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.88px;
  text-align: center;
  color: #a8bfc9;
}

#gpu_game {
  width: 460px;
  height: 67px;
  border-radius: 15px;
  background-color: #f2b137;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.25px;
  text-align: center;
  cursor: pointer;
  border: 0;
  box-shadow: inset 0 -8px 0 0 #cc8b13;
  margin-top: 40px;
  transition: 0.3s all;
  &:active {
    box-shadow: inset 0 0 0 0;
    opacity: 80%;
  }
}

/* Game Zone */
#game_zone {
  padding-top: 140px;
  padding-bottom: 229px;
}
.none_zone {
  display: none;
}

/* toast selectable */
.toast_selectable {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(-20px); /* pastga biroz harakat */
  background-color: #f2b137;
  color: #1a2a33;
  padding: 12px 24px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  opacity: 0; /* boshlanishda yashirin */
  pointer-events: none; /* click o‘tmasin */
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 9999;
  display: flex; /* har doim ko‘rinadigan holatda */
  justify-content: center;
  align-items: center;
}

.toast_view {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}

.error_text {
  color: rgb(234, 27, 27) !important;
}

.cell {
  width: 140px;
  height: 140px;
  border-radius: 15px;
  background-color: #1f3641;
  box-shadow: inset 0 -8px 0 0 #1f3641;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_game_zone {
  max-width: 500px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}

.cell img {
  cursor: pointer;
}

.container_head_game_zone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

#restart_game {
  width: 52px;
  height: 52px;
  border-radius: 10px;
  background-color: #a8bfc9;
  box-shadow: inset 0 -4px 0 0 #6b8997;
  border: 0;
  cursor: pointer;
  transition: 0.3s all;
}

#restart_game:hover {
  background-color: #dbe8ed;
  box-shadow: inset 0 -4px 0 0 #6b8997;
}

#win {
  color: silver;
  text-align: center;
  position: fixed;
  top: 10px;
  padding: 14px;
  border-radius: 10px;
}

.bg {
  background-color: rgb(6, 15, 9) !important;
}

.d {
  display: flex;
  align-items: center;
  justify-content: center;
}
